.App {
  text-align: center;
}

.App-hero {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.App-hero-image {
  width: 100%;
  height: 100%;
  background: center/cover url("/sakura.jpg");
}

.App-hero-overlay {
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  position: absolute;
  top: 0;
}

.App-header {
  min-height: 100vh;
  max-width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative;
  z-index: 1;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
